@model IEnumerable<prueba1.Models.Usuario>

<h2> Consulta de usuarios </h2>

<table>
    <tr>
        <th>
            <span>Nombre</span>    
        </th>
        <th>
            <span>Apellido</span>
        </th>
        <th>
            <span>Correo electronico</span>
        </th>

      </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Nombre
        </td>
        <td>
            @item.Apellido
        </td>
        <td>
            @item.mail
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Volver", "Index", "Home")
</p>
