@model prueba1.Models.Usuario

@{
    ViewBag.Title = "Darse de alta como usuario";
}

<fieldset>
    <div class="editor-label">
        <h3> Realizar cambios en este usuario </h3>
    </div>
  
    <ul>
        <li><span>Nombre:   </span>@ViewBag.Nombre </li>
        <li><span>Apellido:   </span>@ViewBag.Apellido</li>  
        <li><span>Correo electronico:   </span>@ViewBag.Mail</li> 
    </ul>           
     
    @using (Html.BeginForm("Delete", "Usuario"))
    { <input type="submit" value="Borrar usuario"/> }
    
    @using (Html.BeginForm("B_Edit", "Usuario"))
    { <input type="submit" value="Modificar usuario" />}
    

    

</fieldset>

<div>
    @Html.ActionLink("Volver", "Find", "Usuario")
</div>


