@section featured 
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Gestion de usuarios</h1>

            </hgroup>
            <p>
            <ul>
			    <li>@Html.ActionLink("Sign In", "Create", "Usuario")</li>
			    <li>@Html.ActionLink("Log In", "Ingresar", "Usuario")</li>
		    </ul>
            </p>
        </div>
    </section>
}




