@section featured 
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1> Opciones de usuario </h1>
            </hgroup>
            <p>
            <ul>
			    <li>@Html.ActionLink("Crear", "Create", "Usuario")</li>
			    <li>@Html.ActionLink("Borrar/Modificar", "Find", "Usuario")</li>
			    <li>@Html.ActionLink("Mostrar listado", "Details", "Usuario")</li>
		    </ul>
            </p>
        </div>
    </section>
}




