@section featured 
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1> Opciones de usuario </h1>
            </hgroup>
            <p>
            <ul>
			    <li>@Html.ActionLink("Gestionar usuarios", "Index", "User")</li>
		    </ul>
            </p>
        </div>
    </section>
}




